<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Détail du site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{/css/siteStyle.css}"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>
<body>
<div th:insert="~{baniere :: fragment }"></div>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="photo col-lg-4">
                    <div class="fond" th:if="${site.image}!=null">
                        <img th:src="${'data:image/jpg;base64,'+ site.image.getImageBase64()}" alt="#" />
                    </div>
                </div>
                <div class="jumbotron col-lg-6">
                        <h1 th:text="'Le site: '+|${site.nomSite}|"></h1>
                    </div>
                <div class="pagination col-lg-2">
                    <a class="page-link" href="/sites" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                </div>
            </div>
            <br>
            <div class="row">
               <section class="col-lg-6" id="descriptif">
                   <div class="card col-lg-12">
                       <h2>Région ou lieu: </h2>
                       <p th:text="${site.lieu}"></p>
                      <br>
                       <h2>Descriptif du site: </h2>
                       <p th:text="${site.descriptif}"></p>
                       <div th:if="${site.officiel}==true">
                           <strong th:text="|${site.nomSite}|+' est un site officiel des Amis de l\'escalade'"></strong>
                       </div>
                       <br>
                       <h2>Topo: </h2>
                       <div th:if="${site.topo}!=null">
                           <p th:text="|${site.topo.nomTopo}|+' qui est '+|${site.topo.toStringLocation()}|"></p>
                       </div>
                       <div th:unless="${site.topo}!=null">
                           <p>pas de topo disponible de ce site</p>
                       </div>
                   </div>
                   <div class="card col-lg-12">
                       <h2>Les commentaires des utilisateurs : </h2>
                       <div th:if="${site.commentaires}==null">
                           <p>pas de commentaire sur ce site</p>
                       </div>
                        <div th:unless="${site.commentaires}==null">
                           <ul th:each="commentaire : ${site.commentaires}">
                               <div class="row" >
                                   <div class="col-lg-8">
                                       <li th:text="${commentaire.contenu} "> </li>
                                   </div>
                                   <div class="col-lg-4">
                                        <div class="row" id="boutonEditCancel">
                                           <div class="boutons" th:switch="${user.role.nomRole}">
                                               <div th:case="'ROLE_ADMIN'">
                                                   <div class="col-lg-5">
                                                       <a th:href="@{/commentaires/edit/{id}(id=${commentaire.idCommentaire})}" class="btn btn-primary">
                                                           <i class="fas fa-edit ml-2"></i>
                                                       </a>
                                                  </div>
                                                   <div class="col-lg-5">
                                                       <form th:action="@{/commentaires/delete/{id}(id=${commentaire.idCommentaire})}" method="post">
                                                           <button class="btn btn-danger my-2 my-sm-0" type="submit"><span class="fas fa-trash-alt ml-2"></span></button>
                                                       </form>
                                                   </div>
                                              </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </ul>
                        </div>

                   </div>
                   <div class="card col-lg-12">
                       <form th:action="@{/commentaires/laisserCommentaires/{id}(id=${site.idSite})}" th:object="${commentaire}" method="post" >
                           <br>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Vous pouvez laisser vos commentaires ci-dessous:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" th:field="*{contenu}"></textarea>
                            </div>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i> Envoyer</button>
                           <input type="hidden" id="id" th:field="*{idCommentaire}">
                           <input type="hidden" id="site" th:field="*{site}" th:value="${site.idSite}">
                        </form>
                   </div>
               </section>
                <aside class="col-lg-6" id="Carte">
                    <div class="card col-lg-12">
                        <h2>Les Secteurs du site</h2>
                        <ul>
                            <li th:text="'Les secteurs du site sont: '+ |${site.toStringSecteurs()}|"></li>
                        </ul>
                        <br>
                        <ul th:each="secteur : ${site.secteurs}">
                            <h2 th:text="'Details du secteur '+|${secteur.nomSecteur}|+' :'"></h2>
                            <ul>
                                <li th:text="'Le secteur '+|${secteur.nomSecteur}|+' est situé à une hauteur de '+|${secteur.hauteur}|+'m .' "></li>
                                <li th:text="'Description du secteur: '+|${secteur.descriptifSecteur}|"></li>

                                <ul th:each="voie: ${secteur.voies}">
                                    <li th:text="'La voie numéro '+|${voie.numeroVoie}|+' a une difficulté de  '+|${voie.cotation}|+' .' "></li>
                                   <ul>
                                       <li th:text="'Le nombre de longueurs est: '+|${voie.nombreLongueurs}|"></li>
                                       <li th:text="'et qui comporte '+|${voie.nombrePoints}|+ ' points pour aider à grimper .'"></li>
                                   </ul>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>