<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Détail du site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/siteStyle.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>
<body>
<div th:insert="~{baniere :: fragment }"></div>
    <main>
        <div class="container-fluid col-xs-4 col-sm-6 col-md-8 col-lg-12">
            <div class="row">
                    <div class="jumbotron col-lg-10">
                        <div class=container>
                            <div class="fond">
                            <!--<div class=fond id="dp-container"  th:style="'background-image:url(/pictures/grimpeur1.jpg)'">-->
                                <!--<div id="dp-container"  th:style="'background-image:url(' + ${dpurl} + ');'">-->
                                <div th:if="${site.officiel}==false">
                                    <h1 th:text="'Le site: '+|${site.nomSite}|"></h1>
                                </div>
                                <div th:unless="${site.officiel}==false">
                                    <h1 th:text="|${site.nomSite}|+' est un site officiel des Amis de l\'escalade'"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="pagination col-lg-1">
                    <nav aria-label="pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="/sites" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <br>
            <div class="row">
               <section class="col-lg-6" id="descriptif">
                   <div class="card col-lg-12">
                       <h2>Région ou lieu: </h2>
                       <p th:text="${site.lieu}"></p>
                      <br>
                       <h2>Descriptif du site: </h2>
                       <p th:text="${site.descriptif}"></p>
                       <h2>Topo: </h2>
                       <p th:text="|${site.topo.nomTopo}|+' qui est '+|${site.topo.toStringLocation()}|"></p>
                   </div>
                   <div class="card col-lg-12">
                       <h2>Les commentaires des utilisateurs : </h2>
                       <ul th:each="commentaire : ${site.commentaires}">
                           <li th:text="${commentaire.contenu}"></li>
                       </ul>
                   </div>
                   <div class="card col-lg-12">
                       <form th:action="@{/commentaires/laisserCommentaires/{id}(id=${site.idSite})}" th:object="${commentaire}" method="post" >
                           <br>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Vous pouvez laisser vos commentaires ci-dessous:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" th:field="*{contenu}"></textarea>
                            </div>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-cloud-download-alt"></i> Envoyer</button>
                           <input type="hidden" id="id" th:field="*{idCommentaire}">
                           <input type="hidden" id="site" th:field="*{site}" th:value="${site.idSite}">
                        </form>
                   </div>
               </section>
                <aside class="col-lg-6" id="Carte">
                    <div class="card col-lg-12">
                        <h2>Les Secteurs du site</h2>
                        <ul>
                            <li th:text="'Les secteurs du site sont: '+ |${site.toStringSecteurs()}|"></li>
                        </ul>
                        <br>
                        <ul th:each="secteur : ${site.secteurs}">
                            <h2 th:text="'Details du secteur '+|${secteur.nomSecteur}|+' :'"></h2>
                            <ul>
                                <li th:text="'Le secteur '+|${secteur.nomSecteur}|+' est situé à une hauteur de '+|${secteur.hauteur}|+'m .' "></li>
                                <li th:text="'Description du secteur: '+|${secteur.descriptifSecteur}|"></li>

                                <ul th:each="voie: ${secteur.voies}">
                                    <li th:text="'La voie numéro '+|${voie.numeroVoie}|+' a une difficulté de  '+|${voie.cotation}|+' .' "></li>
                                   <ul>
                                       <li th:text="'Le nombre de longueurs est: '+|${voie.nombreLongueurs}|"></li>
                                       <li th:text="'et qui comporte '+|${voie.nombrePoints}|+ ' points pour aider à grimper .'"></li>
                                   </ul>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>