<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chercher un ou des sites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>
<body>
    <div th:insert="~{baniere :: fragment }"></div>
    <main>
        <div class="container my-2">
            <h3>
                Vous recherchez un ou des sites, remplissez ci-dessous les critères de recherche :
            </h3>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <form th:action="@{/sites/search/mycriteres}" th:object="${search}" method="post">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="lieu" class="col-form-label">Lieu</label>
                                    <select th:field="*{lieu}" class="form-control" id="lieu">
                                        <option th:each="site : ${sites}" th:value="${site.lieu}" th:text="${site.lieu}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="hauteur" class="col-form-label">Hauteur mini</label>
                                    <select th:field="*{hauteur}" class="form-control" id="hauteur" placeholder="Hauteur mini">
                                        <option th:value=100 th:text="100m"></option>
                                        <option th:value=200 th:text="200m"></option>
                                        <option th:value=300 th:text="300m"></option>
                                        <option th:value=400 th:text="400m"></option>
                                        <option th:value=500 th:text="500m"></option>
                                        <option th:value=600 th:text="600m"></option>
                                        <option th:value=700 th:text="700m"></option>
                                        <option th:value=800 th:text="800m"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="nombreSecteurs" class="col-form-label">Nombre Secteurs</label>
                                    <select th:field="*{nombreSecteurs}" class="form-control" id="nombreSecteurs" placeholder="Nombres Secteurs mini">
                                        <option th:value=1 th:text="'Au moins 1 secteur'"></option>
                                        <option th:value=2 th:text="'Au moins 2 secteurs'"></option>
                                        <option th:value=4 th:text="'Au moins 3 secteurs'"></option>
                                        <option th:value=6 th:text="'Au moins 4 secteurs'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="nombreLongueurs" class="col-form-label">Nombre longueurs</label>
                                    <select type="text" th:field="*{nombreLongueurs}" class="form-control" id="nombreLongueurs" placeholder="Nombres Longueurs">
                                        <option th:value=1 th:text="'Au moins une longueur'"></option>
                                        <option th:value=2 th:text="'Au moins deux longueurs'"></option>
                                        <option th:value=3 th:text="'Au moins trois longueurs'"></option>
                                        <option th:value=4 th:text="'Au moins quatre longueurs'"></option>
                                        <option th:value=5 th:text="'Au moins cinq longueurs'"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="nombrePoints" class="col-form-label">Nombre points</label>
                                    <select type="text" th:field="*{nombrePoints}" class="form-control" id="nombrePoints" placeholder="Nombres Points">
                                        <option th:value=2 th:text="'Au moins 2 points'"></option>
                                        <option th:value=3 th:text="'Au moins 3 points'"></option>
                                        <option th:value=4 th:text="'Au moins 4 points'"></option>
                                        <option th:value=5 th:text="'Au moins 6 points'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" value="Rechercher"><span class="fa fa-search"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <Footer class="pagination">
            <nav aria-label="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="/sites" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                    </li>
                </ul>
            </nav>
        </Footer>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>