<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transfert footballeur</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />

</head>
<body>
<div th:insert="~{baniere :: fragment }"></div>
    <div class="col-md-12">
        <form action="#" th:action="@{/footballeurs/footballeurTransfere}" th:object="${footballeur}" method="post">
            <div class="row">
                <table class="table table-bordered col-lg-6" >
                    <thead>
                    <tr>
                        <th class="col-lg-2">Nom des joueurs</th>
                        <th class="col-lg-2">Prénom</th>
                        <th class="col-lg-2">Club actuel</th>
                        <th class="col-lg-2">Ligue</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td th:text="${footballeur.nom}"></td>
                        <td th:text="${footballeur.prenom}"></td>
                        <td th:text="${footballeur.club.nomClub}"></td>
                        <td th:text="${footballeur.club.league.nomLeague}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group col-md-2">
                    <label for="Club" class="col-form-label">Changement de Club</label>
                    <select th:field="*{club}" class="form-control" id="Club">
                        <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.nomClub}">
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Appuyer sur le bouton</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" value=" Transfert ">
                        </div>
                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </div>
            </div>
        </form>
    </div>
<Footer class="pagination">
    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="/footballeurs" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
            </li>
        </ul>
    </nav>
</Footer>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>