<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Affichage d'une image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />

</head>
<body>
<div th:insert="~{baniere :: fragment }"></div>
    <main>
        <div>
            <p>Welcome Administrator(<span sec:authentication="principal.username"></span>) est bien connecté comme Admin</p>
        </div>
    </Br>
        <h1>Afficage d'une image</h1>
        <div class="container">
            <form class="table-responsive text-nowrap ncol-md-12">
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Image1</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>
                           <img th:src="@{${image1}}" alt="imagePres" class="img-thumbnail" style="width:25%; height:25%">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <Footer class="pagination">
            <nav aria-label="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/home}" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                    </li>
                </ul>
            </nav>
        </Footer>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>