<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Détail du topo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{/css/topoStyle.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>
<body>
<div th:insert="~{baniere :: fragment }"></div>
    <main>
        <div class="container col-lg-12">
            <div class="row">
                <div class="jumbotron col-lg-12">
                <!--<section class="col-lg-12">-->
                            <h1 th:text="${topo.nomTopo}"></h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row my-5" id="boutonReservation">
                        <div class="table-responsive text-nowrap ncol-md-12">
                            <table class="table table-striped" >
                                <thead>
                                <tr>
                                    <th>Etat de réservation du Topo</th>
                                    <th>Réserver le Topo </th>
                                    <th>Annuler la réservation </th>
                                </tr>
                                </thead>
                                <tr>
                                    <td th:text="${topo.toStringDisponible()}"></td>
                                    <td>
                                        <form th:action="@{/reservations/reserverTopo}" th:object="${topo}" method="post">
                                            <button class="btn btn-success my-2 my-sm-0" type="submit">Réserver</button>
                                            <input type="hidden" id="idTopo1" th:field="*{idTopo}">
                                        </form>
                                    </td>
                                    <td>
                                        <form th:action="@{/reservations/annulerReservationTopo}" th:object="${topo}" method="post">
                                            <button class="btn btn-danger my-2 my-sm-0" type="submit">Annuler</button>
                                            <input type="hidden" id="idTopo2" th:field="*{idTopo}">
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <Br>
            <div class="row">
                <section class="col-lg-6">
                    <div class="card">
                        <h2>Autre</h2>
                        <h1>Photo</h1>
                    </div>
                </section>
               <section class="col-lg-6" id="descriptif">
                <h2>descriptif du topo: </h2>
                   <p th:text="${topo.description}">
                </p>
               </section>
                <aside class="col-lg-6" id="Carte">
                    <div class="card">
                        <h2>Carte topographique région</h2>
                    </div>
                </aside>
                <section class="col-lg-6">
                    <div class="container my-2">
                        <div class="card"id="details">
                            <h2>les sites: </h2>
                            <!--<h2 th:case="null">Pas d'enregistrement trouvé !!</h2>
                            <div th:case="*">-->
                            <ul>
                                <li th:text="${topo.toStringSites()}"></li>
                            </ul>
                            </Br>
                            <h2>Les lieux à explorer: </h2>
                            <ul th:each="site : ${topo.sites}">
                                <li th:text="${site.lieu}"></li>
                            </ul>
                            </Br>
                            <h2> Les secteurs possibles sur ce topo :</h2>
                            <ul th:each="site : ${topo.getSites()}">
                                <li th:text="${site.toStringSecteurs()}"></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <br>
            <Footer class="pagination">
                <nav aria-label="pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="/topos" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                        </li>
                    </ul>
                </nav>
            </Footer>
        </div>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>