<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Détail du topo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{/css/topoStyle.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>
<body>
<div th:insert="~{baniere :: fragment }"></div>
    <main>
        <div class="container">
            <div class="row">
                <div class="jumbotron col-lg-12">
                    <h1 th:text="${topo.nomTopo}"></h1>
                </div>
            </div>
            <div class="card col-lg-12">
                <div class="card-body">
                        <div class="table-responsive text-nowrap col-xl-12 col-md-12">
                            <table class="table table-striped" >
                                <thead>
                                <tr>
                                    <th>Nom du propriétaire</th>
                                    <th>Etat de réservation du Topo</th>
                                    <th>Réserver le Topo </th>
                                </tr>
                                </thead>
                                <tr>
                                   <td th:text="${topo.owner.nomUser}">
                                   </td>
                                    <td th:text="${topo.toStringDisponible()}">
                                    </td>
                                    <td>
                                        <div th:switch="${enableButton}">
                                            <form th:action="@{/reservations/reserverTopo/{id}(id=${topo.idTopo})}" method="post">
                                                <button class="btn btn-success my-2 my-sm-0" type="submit" th:case="1" >Réserver</button>
                                                <p th:case="2" >En attente d'acceptation</p>
                                                <p th:case="3" >Non disponible</p>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div th:if="${topo.reservation} and ${topo.reservation.etat}=='En attente'"class="alert alert-info alert-dismissable">
                                <p>
                                     <span>Votre réservation a été prise en compte, vous devez attendre maintenant que le propriétaire accepte votre demande</span>
                                </p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row" id="description">
                <aside class="col-lg-6" id="Carte">
                    <div th:if="${topo.getImage()!=null}">
                        <h2>Carte topographique région</h2>
                        <img th:src="${'data:image/jpg;base64,'+ topo.image.getImageBase64()}" alt="" />
                    </div>
                    <div th:unless="${topo.getImage()!=null}">
                        <h2>Pas de carte topographique de disponible</h2>
                    </div>
                </aside>
                <section class="col-lg-6" id="descriptif">
                    <h2>Descriptif du topo: </h2>
                    <p th:text="${topo.description}"></p>
                    <div id="details">
                        <h2>les sites: </h2>
                        <ul>
                            <li th:text="${topo.toStringSites()}"></li>
                        </ul>
                        </Br>
                        <h2>Les lieux à explorer: </h2>
                        <ul th:each="site : ${topo.sites}">
                            <li th:text="${site.lieu}"></li>
                        </ul>
                        </Br>
                        <h2> Les secteurs de ce topo :</h2>
                        <ul th:each="site : ${topo.getSites()}">
                            <li th:text="${site.toStringSecteurs()}"></li>
                        </ul>
                    </div>
                </section>
            </div>
            <br>
            <Footer class="pagination">
                <nav aria-label="pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="/topos" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                        </li>
                    </ul>
                </nav>
            </Footer>
        </div>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>