<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tous les secteurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>

<body>
    <div th:insert="~{baniere :: fragment }"></div>
    <main>
        <h1>Liste des secteurs</h1>

        <div class="container col-lg-12">
            <header class="row">
                <p class="my-5">
                    <a href="/secteurs/addSecteur" class="btn btn-primary">
                        <i class="fas fa-plus ml-2"> Ajouter un secteur  </i></a>
                </p>
            </header>
            <div class="row">
                <section class="col-lg-12">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div th:switch="${secteurs}" class="container">
                                    <div class="table-responsive text-nowrap ncol-md-12">
                                        <h2 th:case="null">Pas d'enregistrement trouvé !!</h2>
                                        <div th:case="*">
                                            <table class="table table-striped" >
                                                <thead>
                                                <tr>
                                                    <th>Nom du Secteur</th>
                                                    <th>Description</th>
                                                    <th>Hauteur</th>
                                                    <th>Voies</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="secteur : ${secteurs}">
                                                    <td th:text="${secteur.nomSecteur}"></td>
                                                    <td th:text="${secteur.descriptifSecteur}"></td>
                                                    <td th:text="${secteur.hauteur}"></td>
                                                    <td th:text="${secteur.toStringVoies(secteur.voies)}"></td>
                                                    <!--<td> <a  th:text="${secteur.voies.nomVoie()}" th:href="@{/sites/details/{nom} (nom=${secteur.voie.idVoie})}"></a></td>-->
                                                    <td>
                                                        <a th:href="@{/secteurs/edit/{id}(id=${secteur.idSecteur})}"
                                                           class="btn btn-primary">
                                                            <i class="fas fa-edit ml-2"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/secteurs/delete/{id}(id=${secteur.idSecteur})}"
                                                           class="btn btn-danger">
                                                            <i class="fas fa-trash-alt ml-2"> </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <Footer class="pagination">
            <nav aria-label="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/home}" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                    </li>
                </ul>
            </nav>
        </Footer>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>