<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Les données du user connecté</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>

<body>
    <div th:insert="~{baniere :: fragment }"></div>
    <main>
        <h1 th:text="'L\'espace de '+|${user.prenomUser}| +' '+ |${user.nomUser}|"></h1>
        <div class="container col-lg-12">
            <header class="row">
            </header>
            <div class="row">
                <section class="col-lg-12">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="container">
                                    <div class="table-responsive text-nowrap ncol-md-12">
                                        <div>
                                            <table class="table table-striped" >
                                                <thead>
                                                    <div th:switch="${user.sites}">
                                                        <div th:case="null">
                                                        </div>
                                                        <div th:case="*">
                                                            <h2>Mes sites </h2>
                                                            <tr>
                                                                <th th:text="'Sites de la propriété de '+|${user.nomUser}|"></th>
                                                                <th>Action rendre public</th>
                                                            </tr>
                                                        </div>
                                                    </div>
                                                </thead>
                                                <tbody>
                                                    <div th:switch="${user.sites}" class="container">
                                                        <p th:case="null">Vous n'avez pas de site actuellement !!</p>
                                                        <div th:case="*">
                                                            <tr th:each="site : ${user.sites}">
                                                            <td> <a th:text="${site.nomSite}" th:href="@{/sites/details/{nom} (nom=${site.idSite})}" ></a> </td>
                                                            <td th:if="${!(site.public)}">
                                                                <form th:action="@{/sites/rendrePublicSite/{id}(id=${site.idSite})}" method="post">
                                                                    <button class="btn btn-success my-2 my-sm-0" type="submit">Rendre public</button>
                                                                </form>
                                                            </td>
                                                            <td th:unless="${!(site.public)}">
                                                                <form th:action="@{/sites/rendrePriveSite/{id}(id=${site.idSite})}" method="post">
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Rendre privé</button>
                                                                </form>
                                                            </td>
                                                            </tr>
                                                        </div>
                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="table-responsive text-nowrap ncol-md-12">
                                        <h2>Mes réservations: </h2>
                                        <div th:if="${user.reservations.size()}>0">
                                            <table class="table table-striped" >
                                                <thead>
                                                <tr>
                                                    <th>Numero réservation</th>
                                                    <th>Nom du Topo</th>
                                                    <th>Propriétaire du Topo</th>
                                                    <th>Etat de la réservation</th>
                                                    <th>Annulation de la réservation</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="reservation : ${user.reservations}">
                                                        <td th:text="${reservation.idReservation}"> </td>
                                                        <td><a th:text="${reservation.topo.nomTopo}" th:href="@{/topos/details/{nom} (nom=${reservation.topo.idTopo})}"></a></td>
                                                        <td th:text="${reservation.topo.owner.nomUser}"></td>
                                                        <td th:text="${reservation.etat}"></td>
                                                        <td>
                                                            <div th:switch="${enableButton}">
                                                                <form th:action="@{/reservations/annulerReservation/{id}(id=${reservation.idReservation})}" method="post">
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit" th:case="1" disabled >Annuler</button>
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit" th:case="2" >Annuler</button>
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit" th:case="3" disabled >Annuler</button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:unless="${user.reservations.size()}>0">
                                            <p>Vous n'avez pas de réservation en cours  </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="table-responsive text-nowrap ncol-md-12">
                                        <h2>Mes topos:</h2>
                                        <div th:if="${user.topos.size()}>0">
                                            <table class="table table-striped" >
                                                <thead>
                                                <tr>
                                                    <th>Nom du topo</th>
                                                    <th>Etat réservation</th>
                                                    <th>Disponible pour la Location</th>
                                                    <th>Rendre disponible la location</th>
                                                    <th>Interdire la location</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="topo : ${user.topos}">
                                                    <td><a th:text="${topo.nomTopo}" th:href="@{/topos/details/{nom} (nom=${topo.idTopo})}"></a></td>
                                                    <td th:text="${topo.toStringDisponible()}"></td>
                                                    <td th:text="${topo.toStringLocation()}"></td>
                                                    <td>
                                                        <div th:switch="${topo.location}">
                                                            <form th:action="@{/topos/DisponibleLocation/{id}(id=${topo.idTopo})}" method="post">
                                                                <button class="btn btn-info my-2 my-sm-0" type="submit"th:case="true"disabled><span class="fas fa-check-square ml-2"></span></button>
                                                                <button class="btn btn-info my-2 my-sm-0" type="submit"th:case="false"><span class="fas fa-check-square ml-2"></span></button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div th:switch="${topo.location}">
                                                            <form th:action="@{/topos/AnnulerLocation/{id}(id=${topo.idTopo})}" method="post">
                                                                <button class="btn btn-danger my-2 my-sm-0" type="submit"th:case="true"><span class="fas fa-trash-alt ml-2"></span></button>
                                                                <button class="btn btn-danger my-2 my-sm-0" type="submit"th:case="false"disabled><span class="fas fa-trash-alt ml-2"></span></button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:unless="${user.topos.size()}>0">
                                            <p>Vous ne possédez pas de topo  </p>
                                        </div>
                                    </div>
                                    <div class="table-responsive text-nowrap ncol-md-12">
                                        <h2>Les demandes de location de mes topos:</h2>
                                        <div th:if="${user.topos.size()}>0">
                                            <table class="table table-striped" >
                                                <thead>
                                                    <tr>
                                                        <th>Réservation</th>
                                                        <th>Topo</th>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
                                                        <th>Mail du demandeur</th>
                                                        <th>Etat de la réservation</th>
                                                        <th>Acceptation</th>
                                                        <th>Refus</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="topo : ${user.topos}" th:if="${topo.reservation}!=null">
                                                        <td th:text="${topo.reservation.idReservation}"> </td>
                                                        <td th:text="${topo.nomTopo}"> </td>
                                                        <td th:text="${topo.reservation.user.nomUser}"> </td>
                                                        <td th:text="${topo.reservation.user.prenomUser}"> </td>
                                                        <td th:text="${topo.reservation.user.mailUser}"> </td>
                                                        <td th:text="${topo.reservation.etat}"> </td>
                                                        <td>
                                                            <div th:switch="${topo.reservation.etat}">
                                                                <form th:action="@{/reservations/reservationAcceptee/{id}(id=${topo.reservation.idReservation})}" method="post">
                                                                    <button class="btn btn-success my-2 my-sm-0" type="submit"th:case="'en attente'">Accepter</button>
                                                                    <button class="btn btn-success my-2 my-sm-0" type="submit"th:case="'acceptee'" disabled>Accepter</button>
                                                                    <button class="btn btn-success my-2 my-sm-0" type="submit"th:case="'refusee'">Accepter</button>
                                                                    <button class="btn btn-success my-2 my-sm-0" type="submit"th:case="'annulee'"disabled>Accepter</button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div th:switch="${topo.reservation.etat}">
                                                                <form th:action="@{/reservations/reservationRefusee/{id}(id=${topo.reservation.idReservation})}" method="post">
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit"th:case="'en attente'">Refuser</button>
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit"th:case="'acceptee'">Refuser</button>
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit"th:case="'refusee'"disabled>Refuser</button>
                                                                    <button class="btn btn-danger my-2 my-sm-0" type="submit"th:case="'annulee'"disabled>Refuser</button>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:unless="${user.topos.size()}>0">
                                            <p>Vous n'avez pas de demande ou de location de topo </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <Footer class="pagination">
            <nav aria-label="pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/home}" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                    </li>
                </ul>
            </nav>
        </Footer>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>