body {
  padding-top: 2rem;
    display:flex;
    align-items: center;
    justify-content:center;
}

.nav-link {
    text-align: justify !important;
    font-size:1.1em !important;
    margin-left: 30px !important;
    left: 150px !important;
}

.navbar-brand {
    color:white !important;
}

.navbar-nav {
    color:white !important;
}

#navbarNav {
    font-size:0.9em !important;
}
.nav-login {
    color:white !important;
}

main {
    margin-top: 40px !important;
}

.starter-template {
  padding: 1rem 1rem;
  text-align: center;
}

h1{
	color:red !important ;
    text-align:center;
}

h2{
	color:black;
}

h3{
    color:red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    background-color: black;
    color: white;
}
img {
    width: 25%;
    height: 25%;
    margin-top: 100px;
}
.question{
    padding-top: 40px;
}
#formulaireUser{
    margin-top: 40px; !important;
    margin-left:100px;
}
.card{
    display:flex;
    align-items: center;
    justify-content:center;

}
.panel-body{
    display:flex;
    align-items: center;
    justify-content:center;
    border: 2mm ridge rgba(170, 50, 220, .6);
    border-radius: 10px;
    padding-top: 10px;
}