body {
  padding-top: 2rem;
}

.nav-link {
    text-align: justify !important;
    font-size:1.2em !important;
    margin-left: 30px !important;
    left: 150px !important;
}

.navbar-brand {
    color:white !important;
}
main {
    margin-top: 40px !important;
}

.starter-template {
  padding: 1rem 1rem;
  text-align: center;
}

h1{
	color:blue;
}

h2{
	color:black;
}
.menu {
    margin-top: 5px !important;
    color:red !important;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    background-color: black;
    color: white;
}
img {
    width: 25%;
    height: 25%;
    margin-top: 100px;
}
.question{
    padding-top: 40px;
}
#formulaireUser{
    margin-top: 40px; !important;
    margin-left:100px;
}