#details {
    background-color: #ffa64f;
    color:white;
}

#descriptif{
    padding-left: 30px;
}

h1.jumbotron {
    position: absolute !important;
    text-align: center!important;
    z-index:2 !important;
}
.fond {
    position: absolute !important; /* Le fond est fixé en haut de la page */
    z-index:1 !important;
    width: 600px !important; /* Il occupe toute la largeur de l'écran */
    height: 300px !important;
    text-align: center!important;
    background-size: cover!important;
    /* On met ici la même hauteur que le jumbotron */
    top:-50px !important;
    left:0 !important;
    /*z-index: -1!important;*/
    align-items: center!important;
    text-align: center!important;
}

.jumbotron {
    position: relative;
    top:0 !important;
    left:0 !important;
    align-items: center!important;
    text-align: center!important;
    margin-bottom: 0px !important;
    width: 1300px !important;
    height:100px !important;
    color: white!important;
    text-shadow: black 0.3em 0.3em 0.3em !important;
    background: transparent !important;
    /*background: url(/pictures/grimpeur1.jpg) no-repeat center center !important;*/

    /*background:transparent !important;*/
}
/*
img{
    margin-bottom: 0px !important;
    width: 100% !important;
    height:100% !important;
}*/

body {
    /* L'image est positionnée en fond et est centrée */
    background: url(/pictures/photospotsescalades.jpg) no-repeat center center fixed;
    /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}

.pagination{
    /*margin-top: 80px; !important;
    margin-right:30px;*/
    padding-left: 40px;
    float:right;
}
.container{
    width:250%!important;
    align-items: center!important;
}