#details {
    background-color: #ffa64f;
    color:white;
}

#descriptif{
    padding-left: 30px;
}

.jumbotron {
    position: relative;
    top:0 !important;
    left:0 !important;
    align-items: center!important;
    text-align: center!important;
    margin-bottom: 0px !important;
    width: 1300px !important;
    height:100px !important;
    color: white!important;
    text-shadow: black 0.3em 0.3em 0.3em !important;
    background: transparent !important;
}

h1.jumbotron {
    position: absolute !important;
    text-align: center!important;
    z-index:2 !important;
}

main {
    margin-top: 90px !important;
}

body {
    /* L'image est positionnée en fond et est centrée */
    background: url(/pictures/photospotsescalades.jpg) no-repeat center center fixed;
    /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}

.pagination{
    padding-left: 40px !important;
    padding-rignt: 40px !important;
    float:right !important;
    width:200px !important;
    height:40px !important;
    font-size: 0.8em !important;
    border-radius:40% 40% 40% 40% !important;
}

.boutons{
    display:flex !important;
    justify-content: flex-start;
}

.btn{
    font-size: 0.5em !important;
    padding-left: 20px !important;
}

img {
    width: 100% !important;
    height: 100% !important;
    margin-top: 10px !important;
}


table th {
    background-color: #ffa64f;
    color: white;
    text-align: center;
}

strong{
    color:orange !important;
}

Footer{
    display:flex;
    align-items: end;
    margin-top: 40px; !important;
    margin-left:100px;
}

@media only screen and  (max-width:320px) {
    html {
        font-size: 0.7em !important;
    }
    h1,h2,a,form,li {
        font-size: 0.5em !important;
    }
    .card{
        table-layout: auto!important;
        width: 40% !important;
        font-size: 0.5em !important;
    }

    .pagination{
        padding-left: 40px !important;
        padding-rignt: 40px !important;
        float:right !important;
        width:200px !important;
        height:40px !important;
        border-radius:40% 40% 40% 40% !important;
        font-size: 0.5em !important;
    }
}


@media only screen and (max-width:480px) {
    html {
        font-size: 0.9em !important;
    }
    h1,h2,a,form,li {
        font-size: 0.5em !important;
    }
    .card{
        table-layout: auto!important;
        width: 50%!important;
        font-size: 0.5em !important;
    }
    .pagination{
        padding-left: 40px !important;
        padding-rignt: 40px !important;
        float:right !important;
        width:200px !important;
        height:40px !important;
        font-size: 0.5em !important;
        border-radius:40% 40% 40% 40% !important;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 0.9em !important;
    }
    h1,h2,a,form,li {
        font-size: 0.8em !important;
    }
    .card{
        table-layout: auto!important;
        width: 80%!important;
        font-size: 0.8em !important;
    }

    .pagination{
        padding-left: 40px !important;
        padding-rignt: 40px !important;
        float:right !important;
        width:200px !important;
        height:40px !important;
        font-size: 0.8em !important;
        border-radius:40% 40% 40% 40% !important;
    }
}

@media only screen and (max-width:1024px) {
    html {
        font-size: 1.3em !important;
    }

    h1,h2,a,form,li {
        font-size: 1.2em !important;
    }
    .card{
        table-layout: auto!important;
        width: 100%!important;
        font-size: 1.1em !important;
    }

    .pagination{
        padding-left: 40px !important;
        padding-rignt: 40px !important;
        float:right !important;
        width:200px !important;
        height:40px !important;
        font-size: 0.8em !important;
        border-radius:40% 40% 40% 40% !important;
    }

}