body {
  padding-top: 2rem;
    display:flex;
    align-items: center;
    justify-content:center;
}

main {
    margin-top: 70px !important;
}

.starter-template {
  padding: 1rem 1rem;
  text-align: center;
}

h1{
	color:blue !important ;
    text-align:center;
}

h2{
	color:black;
}

h3{
    color:black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    background-color: black;
    color: white;
}
img {
    width: 25%;
    height: 25%;
    margin-top: 100px;
}
.question{
    padding-top: 40px;
}
#formulaireUser{
    margin-top: 40px; !important;
    margin-left:100px;
}
.card{
    display:flex;
    align-items: center;
    justify-content:center;

}
.panel-body{
    display:flex;
    align-items: center;
    justify-content:center;
    border: 2mm ridge rgba(170, 50, 220, .6);
    border-radius: 10px;
    padding-top: 10px;
}