<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ajouter Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>

<body>
<div th:insert="~{baniere :: fragment }"></div>
    <main>
        <div class="container my-5">
            <h3>
                <span th:text="${titreFormClub}" ></span>
                <Br>
            </h3>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <form action="#" th:action="@{/clubs/createClub}" th:object="${club}" method="post">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="nom" class="col-form-label">Nom</label>
                                    <input type="text" th:field="*{nomClub}" class="form-control"
                                           id="nom" placeholder="nom Club" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="presidentClub" class="col-form-label">Président</label>
                                    <input type="text" th:field="*{presidentClub}" class="form-control"
                                           id="presidentClub" placeholder="president Club" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="anneeCreation" class="col-form-label">Date de Création</label>
                                    <input type="text" th:field="*{anneeCreation}" class="form-control"
                                           id="anneeCreation" placeholder="annee Creation" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="league" class="col-form-label">Ligue</label>
                                    <select th:field="*{league}" class="form-control" id="league">
                                        <option th:each="league : ${leagues}" th:value="${league.id}" th:text="${league.nomLeague}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" value=" Enregistrer ">
                                </div>
                                <input type="hidden" id="id" th:field="*{id}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
    <Footer class="pagination">
        <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/clubs" tabindex="-1"><i class="fas fa-undo"></i> Retour</a>
                </li>
            </ul>
        </nav>
    </Footer>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>