<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="fragment">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand">Le Monde du football </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link " href="/presentation">Bienvenue</a></li>
                    <li class="nav-item"><a class="nav-link " href="/footballeurs">Liste des joueurs</a></li>
                    <li class="nav-item"><a class="nav-link " href="/clubs">Liste des clubs</a></li>
                    <li class="nav-item"><a class="nav-link " href="/leagues">Liste des ligues</a></li>
                </ul>
            </div>
        </nav>
    </div>
</html>