<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>home</title>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="/css/barre.css" th:href="@{/css/barre.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />

</head>

<body>
    <div th:insert="~{baniere :: fragment }"></div>
    <main role="main" class="container">
        <div class="container">
            <div class="starter-template">
                <h1>Bienvenue chez les footeux !!! </h1>
                <h1>
                    <img th:alt="imagePres" th:src="@{/images/pres.jpg}" />
                </h1>
                <h2>
                    <span th:text="'Bonjour, ' + ${message1}+' '+ ${message2}" ></span>
                </h2>
                <h2>
                    <span>Comment ça va ?</span><br>
                    <span></span><br>
                    <span> Vous rentrez dans le monde du football !! </span>
                </h2>
            </div>
        </div>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>