<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tous les footballeurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}" />
</head>

<body>
<div th:insert="~{index-view :: fragment }"></div>
    <main>
        <h1>Liste des Footballeurs présents dans le Monde du football</h1>
        <div class="container col-lg-12">
            <header class="row">
            </header>
            <div class="row">
                <section class="col-lg-12">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div th:switch="${footballeurs}" class="container">
                                    <div class="table-responsive text-nowrap ncol-md-12">
                                        <h2 th:case="null">Pas d'enregistrement trouvé !!</h2>
                                        <div th:case="*">
                                            <table class="table table-striped" >
                                                <thead>
                                                <tr>
                                                    <th>Ordre</th>
                                                    <th>Nom</th>
                                                    <th>Prenom</th>
                                                    <th>Age</th>
                                                    <th>Nationalité</th>
                                                    <th>Position</th>
                                                    <th>Club</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                    <th>Transfer</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="footballeur : ${footballeurs}">
                                                    <td th:text="${footballeur.id}"></td>
                                                    <td th:text="${footballeur.nom}"></td>
                                                    <td th:text="${footballeur.prenom}"></td>
                                                    <td th:text="${footballeur.age}"></td>
                                                    <td th:text="${footballeur.nationalite}"></td>
                                                    <td th:text="${footballeur.position}"></td>
                                                    <td> <a  th:text="${footballeur.club.nomClub}" th:href="@{/clubs/details/{nom} (nom=${footballeur.club.id})}"></a></td>
                                                    <td>
                                                        <a th:href="@{/footballeurs/edit/{id}(id=${footballeur.id})}"
                                                           class="btn btn-primary">
                                                            <i class="fas fa-user-edit ml-2"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/footballeurs/delete/{id}(id=${footballeur.id})}"
                                                           class="btn btn-danger">
                                                            <i class="fas fa-user-times ml-2"> </i>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <a th:href="@{/footballeurs/transfert/{id}(id=${footballeur.id})}"
                                                           class="btn btn-success">
                                                            <i class="fas fa-walking ml-2"> </i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <p class="my-5">
                                                <a href="/footballeurs/addFootballeur" class="btn btn-primary">
                                                    <i class="fas fa-user-plus ml-2"> Ajouter un footballeur  </i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>
<div th:insert="~{bootstrap :: fragment }"></div>
</html>